<div class="text-center">
    <h1 class="display-4">Soy Gabriel Rodriguez </h1>
    <h2>Soy un desarrollador en C# y .NET ademas desarrollo mis habilidades en diversos campos de la tecnologia.</h2>

    <img 
        id="foto"
        src="~/imagenes/grodriguez.jpeg" alt="Foto perfil de Gabriel"/>
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Me he dedicado a la industria de Tecnologías de la Información de manera profesional desde el 2016, explorando diversos campos. 
            Mi trayectoria incluye experiencia en el servicio técnico de software y hardware en GTD Manquehue.

            Participé activamente en la implementación y ejecución exitosa del licenciamiento del sistema Genhoras a nivel nacional para el
            cliente Instituto de Previsión Social.

            En mi rol actual en Dimension S.A., como desarrollador en C# .NET, no solo me ocupo del diseño de interfaces UX/UI, sino que también
            asumo la responsabilidad de desarrollar todos los requerimientos adicionales que el cliente BBVA agrega a nuestros proyectos en el
            marco del sistema de trabajo Scrum. Mi enfoque consiste en la integración de diversas tecnologías para asegurar soluciones
            innovadoras y eficientes.
        </p>
    </div>
</div>
