@model Persona
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre (@Model.Edad) </h1>
    <h2>Soy un desarrollador, actualmente desarrollo aplicaciones en C# y .NET, siempre estoy investigando y aplicando conocimientos en otros lenguajes.</h2>

    <img 
        id="foto"
        src="~/imagenes/grodriguez.jpeg" alt="Foto perfil de Gabriel"/>
</div>
